streamlit
streamlit-oauth
firebase-admin
google-cloud-firestore
requests
torch
torchvision
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
faiss-cpu
sentence-transformers
pypdf
